.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;

  h3 {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .form-wrapper {
    width: 500px;
    max-width: 100%;

    .error-message {
      color: #ff4641;
    }

    .form-control {
      margin-bottom: 30px;
      label {
        display: block;
        margin-bottom: 10px;
        font-weight: 700;
      }

      input,
      select {
        border: 1px solid #636f8b;
        background-color: #cfecec;
        border-radius: 4px;
        display: block;
        padding: 10px;
        width: 100%;
        font-size: 14px;
        font-family: inherit;
        transition: all 0.2s ease-in-out;

        &:focus,
        &:active {
          border-color: #232d41;
          outline: #8692ad;
          background-color: #eaf4f4;
        }
      }
    }
    button {
      background-color: #ff4641;
      border: 2px solid transparent;
      border-radius: 7px;
      color: #fff;
      width: inherit;
      padding: 15px 20px;
      font-size: 20px;
      font-family: inherit;
      width: 100%;
      display: block;
      cursor: pointer;
      margin-bottom: 20px;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:active {
        background-color: #e53e3a;
      }
    }
    button:disabled,
    button[disabled] {
      border: 2px solid #4d3d3d;
      background-color: #bd7473;
      color: #dddddd;
      cursor: not-allowed;
    }
  }
}
